In [1]:
import pandas as pd

In [2]:
cd GTFS\ -\ Melbourne\ Train\ Information

/home/sai/mishra/A3/GTFS - Melbourne Train Information

In [3]:
agency = pd.read_csv("agency.txt")
calendar_dates = pd.read_csv("calendar_dates.txt")
calendar = pd.read_csv("calendar.txt")
routes = pd.read_csv("routes.txt")
shapes = pd.read_csv("shapes.txt")
stops = pd.read_csv("stops.txt")
stop_times = pd.read_csv("stop_times.txt")
trips = pd.read_csv("trips.txt")

In [4]:
print(list(calendar.columns))
print(list(routes.columns))
print(list(shapes.columns))
print(list(stops.columns))
print(list(stop_times.columns))
print(list(trips.columns))

['service_id', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'start_date', 'end_date']
['route_id', 'agency_id', 'route_short_name', 'route_long_name', 'route_type']
['shape_id', 'shape_pt_lat', 'shape_pt_lon', 'shape_pt_sequence', 'shape_dist_traveled']
['stop_id', 'stop_name', 'stop_short_name', 'stop_lat', 'stop_lon']
['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence', 'stop_headsign', 'pickup_type', 'drop_off_type', 'shape_dist_traveled']
['route_id', 'service_id', 'trip_id', 'shape_id', 'trip_headsign', 'direction_id']

In [5]:
# handling cases where the hour in time > 24
for index in stop_times[stop_times.arrival_time.str.match("24:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'arrival_time'].split(":")
    time = ":".join(["00", time[1], time[2]])
    stop_times.loc[index, 'arrival_time'] = time


for index in stop_times[stop_times.departure_time.str.match("24:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'departure_time'].split(":")
    time = ":".join(["00", time[1], time[2]])
    stop_times.loc[index, 'departure_time'] = time
    
for index in stop_times[stop_times.arrival_time.str.match("25:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'arrival_time'].split(":")
    time = ":".join(["01", time[1], time[2]])
    stop_times.loc[index, 'arrival_time'] = time
    
for index in stop_times[stop_times.departure_time.str.match("25:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'departure_time'].split(":")
    time = ":".join(["01", time[1], time[2]])
    stop_times.loc[index, 'departure_time'] = time
    
for index in stop_times[stop_times.arrival_time.str.match("26:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'arrival_time'].split(":")
    time = ":".join(["02", time[1], time[2]])
    stop_times.loc[index, 'arrival_time'] = time
    
for index in stop_times[stop_times.departure_time.str.match("26:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'departure_time'].split(":")
    time = ":".join(["02", time[1], time[2]])
    stop_times.loc[index, 'departure_time'] = time

In [6]:
stop_times['departure_time'] = pd.to_datetime(stop_times['departure_time'], format='%H:%M:%S').dt.time
stop_times['arrival_time'] = pd.to_datetime(stop_times['arrival_time'], format='%H:%M:%S').dt.time

start = pd.to_datetime("07:00:00", format="%H:%M:%S").time()
end = pd.to_datetime("09:00:00", format="%H:%M:%S").time()
end2 = pd.to_datetime("12:00:00", format="%H:%M:%S").time()

stop_times_7_9 = stop_times[(stop_times['departure_time'] > start) & (stop_times['departure_time'] < end) & 
           (stop_times['arrival_time'] > start) &  (stop_times['arrival_time'] < end)]

stop_times_7_12 = stop_times[(stop_times['departure_time'] > start) & (stop_times['departure_time'] < end) & 
           (stop_times['arrival_time'] > start) &  (stop_times['arrival_time'] < end)]

In [21]:
trips_flinders_street = trips[trips.trip_headsign=='City (Flinders Street)']
sto = pd.merge(left=stop_times_7_9, right=trips_flinders_street, on='trip_id')

In [46]:
stop_times[stop_times.trip_id == "17182535.T2.2-ALM-B-mjp-1.1.H"]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
28,17182535.T2.2-ALM-B-mjp-1.1.H,06:52:00,06:52:00,19847,1,NaN,0,0,0.000000
29,17182535.T2.2-ALM-B-mjp-1.1.H,06:53:00,06:53:00,19848,2,NaN,0,0,723.017818
30,17182535.T2.2-ALM-B-mjp-1.1.H,06:55:00,06:55:00,19849,3,NaN,0,0,1951.735072
31,17182535.T2.2-ALM-B-mjp-1.1.H,06:57:00,06:57:00,19850,4,NaN,0,0,2899.073349
32,17182535.T2.2-ALM-B-mjp-1.1.H,06:59:00,06:59:00,19851,5,NaN,0,0,3927.090952
33,17182535.T2.2-ALM-B-mjp-1.1.H,07:00:00,07:00:00,19852,6,NaN,0,0,4413.268782
34,17182535.T2.2-ALM-B-mjp-1.1.H,07:03:00,07:03:00,19853,7,NaN,0,0,5920.877559

In [42]:
ldep = stop_times_trips['departure_time'] > start
rdep = stop_times_trips['departure_time'] < end
rdep2 = stop_times_trips['departure_time'] < end2
larr = stop_times_trips['arrival_time'] > start
rarr = stop_times_trips['arrival_time'] < end
stop_times_trips[ldep & rdep & larr  & rarr]


sta = stop_times_trips[ ldep & rdep & larr & rarr]
rea = stop_times_trips[ ldep & rdep2]

def travel_min_to_CBD(stop_id):
    times = []
    ts = sto[sto.stop_id == stop_id].trip_id.unique()
    for t in ts:
        try:
            st_time = sto[(sto.trip_id == t) & (sto.stop_id == stop_id)].departure_time
            re_time = sto[(rea.trip_id == t) & (sto.stop_id == 19854)].departure_time
            re_time = pd.to_datetime(re_time, format='%H:%M:%S').values[0]
            st_time = pd.to_datetime(st_time, format='%H:%M:%S').values[0]
            times.append(pd.Timedelta(re_time - st_time).seconds / 60)
        except Exception as e:
            print(t, e)
    return sum(times) / len(times)

In [43]:
travel_min_to_CBD(19853)

17182535.T2.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182541.T2.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182547.T2.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182548.UJ.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182555.T2.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182556.UJ.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182560.T2.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182567.T2.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182568.UJ.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17182575.T2.2-ALM-B-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17183054.T6.2-ALM-B-mjp-1.2.H index 0 is out of bounds for axis 0 with size 0
17183055.T5.2-ALM-C-mjp-1.2.H index 0 is out of bounds for axis 0 with size 0
17192117.T2.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192123.T2.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192129.T2.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192130.UJ.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192137.T2.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192138.UJ.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192142.T2.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192149.T2.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192150.UJ.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192157.T2.2-ALM-D-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17192636.T6.2-ALM-D-mjp-1.2.H index 0 is out of bounds for axis 0 with size 0
17192637.T5.2-ALM-E-mjp-1.2.H index 0 is out of bounds for axis 0 with size 0
17067996.T2.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068000.T2.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068004.UJ.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068005.T2.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068010.UJ.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068011.T2.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068014.T2.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068019.UJ.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068020.T2.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068026.T2.2-ALM-F-mjp-1.1.H index 0 is out of bounds for axis 0 with size 0
17068396.T0.2-ALM-F-mjp-1.2.H index 0 is out of bounds for axis 0 with size 0
17183722.T6.2-BEL-B-mjp-1.34.R index 0 is out of bounds for axis 0 with size 0
17183723.T5.2-BEL-C-mjp-1.29.R index 0 is out of bounds for axis 0 with size 0
17193304.T6.2-BEL-D-mjp-1.34.R index 0 is out of bounds for axis 0 with size 0
17193305.T5.2-BEL-E-mjp-1.29.R index 0 is out of bounds for axis 0 with size 0
17068867.T0.2-BEL-F-mjp-1.31.R index 0 is out of bounds for axis 0 with size 0
17183938.T6.2-LIL-B-mjp-1.41.R index 0 is out of bounds for axis 0 with size 0
17183944.T6.2-LIL-B-mjp-1.41.R index 0 is out of bounds for axis 0 with size 0
17184050.T6.2-LIL-B-mjp-1.45.R index 0 is out of bounds for axis 0 with size 0
17183939.T5.2-LIL-C-mjp-1.38.R index 0 is out of bounds for axis 0 with size 0
17183945.T5.2-LIL-C-mjp-1.38.R index 0 is out of bounds for axis 0 with size 0
17184051.T5.2-LIL-C-mjp-1.42.R index 0 is out of bounds for axis 0 with size 0
17193520.T6.2-LIL-D-mjp-1.41.R index 0 is out of bounds for axis 0 with size 0
17193526.T6.2-LIL-D-mjp-1.41.R index 0 is out of bounds for axis 0 with size 0
17193632.T6.2-LIL-D-mjp-1.45.R index 0 is out of bounds for axis 0 with size 0
17193521.T5.2-LIL-E-mjp-1.38.R index 0 is out of bounds for axis 0 with size 0
17193527.T5.2-LIL-E-mjp-1.38.R index 0 is out of bounds for axis 0 with size 0
17193633.T5.2-LIL-E-mjp-1.42.R index 0 is out of bounds for axis 0 with size 0
17069013.T0.2-LIL-F-mjp-1.39.R index 0 is out of bounds for axis 0 with size 0
17069017.T0.2-LIL-F-mjp-1.39.R index 0 is out of bounds for axis 0 with size 0
17069093.T0.2-LIL-F-mjp-1.43.R index 0 is out of bounds for axis 0 with size 0

23.346774193548388

In [18]:
ldep = stop_times['departure_time'] > start
rdep = stop_times['departure_time'] < end
larr = stop_times['arrival_time'] > start
rarr = stop_times['arrival_time'] < end
stop_times[ldep & rdep & larr  & rarr]
# stop_times_7_12 = stop_times[() & (stop_times['departure_time'] < end) & 
#            (stop_times['arrival_time'] > start) &  (stop_times['arrival_time'] < end)]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
34,17182535.T2.2-ALM-B-mjp-1.1.H,07:03:00,07:03:00,19853,7,NaN,0,0,5920.877559
35,17182541.T2.2-ALM-B-mjp-1.1.H,07:08:00,07:08:00,19847,1,NaN,0,0,0.000000
36,17182541.T2.2-ALM-B-mjp-1.1.H,07:09:00,07:09:00,19848,2,NaN,0,0,723.017818
37,17182541.T2.2-ALM-B-mjp-1.1.H,07:11:00,07:11:00,19849,3,NaN,0,0,1951.735072
38,17182541.T2.2-ALM-B-mjp-1.1.H,07:13:00,07:13:00,19850,4,NaN,0,0,2899.073349
...,...,...,...,...,...,...,...,...,...
390090,17199066.UJ.2-ain-mjp-1.1.H,08:30:00,08:30:00,22180,1,NaN,0,0,0.000000
390091,17199066.UJ.2-ain-mjp-1.1.H,08:34:00,08:34:00,19973,2,NaN,0,0,1665.580785
390092,17199066.UJ.2-ain-mjp-1.1.H,08:41:00,08:41:00,20028,5,NaN,0,0,5676.739730
390203,17199067.T2.2-ain-mjp-1.3.R,08:57:00,08:57:00,20028,1,NaN,0,0,0.000000
390205,17199068.UJ.2-ain-mjp-1.3.R,08:57:00,08:57:00,20028,1,NaN,0,0,0.000000

In [15]:
stop_times_7_12

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
34,17182535.T2.2-ALM-B-mjp-1.1.H,07:03:00,07:03:00,19853,7,NaN,0,0,5920.877559
35,17182541.T2.2-ALM-B-mjp-1.1.H,07:08:00,07:08:00,19847,1,NaN,0,0,0.000000
36,17182541.T2.2-ALM-B-mjp-1.1.H,07:09:00,07:09:00,19848,2,NaN,0,0,723.017818
37,17182541.T2.2-ALM-B-mjp-1.1.H,07:11:00,07:11:00,19849,3,NaN,0,0,1951.735072
38,17182541.T2.2-ALM-B-mjp-1.1.H,07:13:00,07:13:00,19850,4,NaN,0,0,2899.073349
...,...,...,...,...,...,...,...,...,...
390090,17199066.UJ.2-ain-mjp-1.1.H,08:30:00,08:30:00,22180,1,NaN,0,0,0.000000
390091,17199066.UJ.2-ain-mjp-1.1.H,08:34:00,08:34:00,19973,2,NaN,0,0,1665.580785
390092,17199066.UJ.2-ain-mjp-1.1.H,08:41:00,08:41:00,20028,5,NaN,0,0,5676.739730
390203,17199067.T2.2-ain-mjp-1.3.R,08:57:00,08:57:00,20028,1,NaN,0,0,0.000000
390205,17199068.UJ.2-ain-mjp-1.3.R,08:57:00,08:57:00,20028,1,NaN,0,0,0.000000