In [1]:
import pandas as pd

In [2]:
cd GTFS\ -\ Melbourne\ Train\ Information

/home/sai/mishra/A3/GTFS - Melbourne Train Information

In [75]:
agency = pd.read_csv("agency.txt")
calendar_dates = pd.read_csv("calendar_dates.txt")
calendar = pd.read_csv("calendar.txt")
routes = pd.read_csv("routes.txt")
shapes = pd.read_csv("shapes.txt")
stops = pd.read_csv("stops.txt")
stop_times = pd.read_csv("stop_times.txt")
trips = pd.read_csv("trips.txt")

In [117]:
stops

,stop_id,stop_name,stop_short_name,stop_lat,stop_lon
0,15351,Sunbury Railway Station,Sunbury,-37.579091,144.727319
1,15353,Diggers Rest Railway Station,Diggers Rest,-37.627017,144.719922
2,19827,Stony Point Railway Station,Crib Point,-38.374235,145.221837
3,19828,Crib Point Railway Station,Crib Point,-38.366123,145.204043
4,19829,Morradoo Railway Station,Crib Point,-38.354033,145.189602
...,...,...,...,...,...
213,44817,Coolaroo Railway Station,Coolaroo,-37.661003,144.926056
214,45793,Lynbrook Railway Station,Lynbrook,-38.057341,145.249275
215,45794,Cardinia Road Railway Station,Pakenham,-38.071290,145.437791
216,45795,South Morang Railway Station,South Morang,-37.649159,145.067032
217,46468,Williams Landing Railway Station,Williams Landing,-37.869865,144.747445

In [102]:
calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,T2,0,0,0,0,0,1,0,20151009,20151011
1,UJ,0,0,0,0,0,0,1,20151009,20151011
2,T6,0,0,0,0,1,0,0,20151009,20151011
3,T5,1,1,1,1,0,0,0,20151012,20151015
4,T2_1,0,0,0,0,0,1,0,20151016,20151018
5,UJ_1,0,0,0,0,0,0,1,20151016,20151018
6,T6_1,0,0,0,0,1,0,0,20151016,20151018
7,T5_1,1,1,1,1,0,0,0,20151019,20151022
8,T0,1,1,1,1,1,0,0,20151023,20151122
9,T2_2,0,0,0,0,0,1,0,20151023,20151122
10,UJ_2,0,0,0,0,0,0,1,20151023,20151122
11,T0+a6,0,0,0,0,1,0,0,20151023,20151122
12,T0+a5,1,1,1,1,0,0,0,20151023,20151122
13,T5+tg,1,1,0,0,0,0,0,20151012,20151015
14,T5+ph,0,0,1,1,0,0,0,20151012,20151015
15,T5+tg_1,1,1,0,0,0,0,0,20151019,20151022
16,T5+ph_1,0,0,1,1,0,0,0,20151019,20151022
17,T5+ao,1,0,0,0,0,0,0,20151012,20151015
18,T5+ta,0,1,1,1,0,0,0,20151012,20151015

In [40]:
trips.trip_headsign

0        City (Flinders Street)
1        City (Flinders Street)
2        City (Flinders Street)
3        City (Flinders Street)
4        City (Flinders Street)
                  ...
23804              Williamstown
23805              Williamstown
23806              Williamstown
23807              Williamstown
23808              Williamstown
Name: trip_headsign, Length: 23809, dtype: object

In [41]:
calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,T2,0,0,0,0,0,1,0,20151009,20151011
1,UJ,0,0,0,0,0,0,1,20151009,20151011
2,T6,0,0,0,0,1,0,0,20151009,20151011
3,T5,1,1,1,1,0,0,0,20151012,20151015
4,T2_1,0,0,0,0,0,1,0,20151016,20151018
5,UJ_1,0,0,0,0,0,0,1,20151016,20151018
6,T6_1,0,0,0,0,1,0,0,20151016,20151018
7,T5_1,1,1,1,1,0,0,0,20151019,20151022
8,T0,1,1,1,1,1,0,0,20151023,20151122
9,T2_2,0,0,0,0,0,1,0,20151023,20151122
10,UJ_2,0,0,0,0,0,0,1,20151023,20151122
11,T0+a6,0,0,0,0,1,0,0,20151023,20151122
12,T0+a5,1,1,1,1,0,0,0,20151023,20151122
13,T5+tg,1,1,0,0,0,0,0,20151012,20151015
14,T5+ph,0,0,1,1,0,0,0,20151012,20151015
15,T5+tg_1,1,1,0,0,0,0,0,20151019,20151022
16,T5+ph_1,0,0,1,1,0,0,0,20151019,20151022
17,T5+ao,1,0,0,0,0,0,0,20151012,20151015
18,T5+ta,0,1,1,1,0,0,0,20151012,20151015

In [42]:
temp = 0
for i in ["monday", "tuesday", "wednesday", "thursday", "friday"]: 
    temp += calendar[calendar.service_id=='T2']["monday"].values[0]

In [43]:
temp

0

In [44]:
routes

,route_id,agency_id,route_short_name,route_long_name,route_type
0,2-ALM-B-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
1,2-ALM-C-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
2,2-ALM-D-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
3,2-ALM-E-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
4,2-ALM-F-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
...,...,...,...,...,...
76,2-WMN-B-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
77,2-WMN-C-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
78,2-WMN-D-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
79,2-WMN-E-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
80,2-WMN-F-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2

In [45]:
shapes

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,2-ain-mjp-1.1.H,-37.818631,144.951994,1,0.000000
1,2-ain-mjp-1.1.H,-37.817425,144.951050,2,157.543645
2,2-ain-mjp-1.1.H,-37.817241,144.950828,3,185.827916
3,2-ain-mjp-1.1.H,-37.816327,144.950047,4,308.469671
4,2-ain-mjp-1.1.H,-37.816127,144.949950,5,332.239399
...,...,...,...,...,...
339706,2-WMN-F-mjp-1.6.R,-37.864271,144.895021,17,2655.879090
339707,2-WMN-F-mjp-1.6.R,-37.864818,144.896370,18,2789.160747
339708,2-WMN-F-mjp-1.6.R,-37.867094,144.903228,19,3443.379365
339709,2-WMN-F-mjp-1.6.R,-37.867382,144.904208,20,3535.406535
339710,2-WMN-F-mjp-1.6.R,-37.867753,144.905323,21,3641.811422

In [46]:
stops

,stop_id,stop_name,stop_short_name,stop_lat,stop_lon
0,15351,Sunbury Railway Station,Sunbury,-37.579091,144.727319
1,15353,Diggers Rest Railway Station,Diggers Rest,-37.627017,144.719922
2,19827,Stony Point Railway Station,Crib Point,-38.374235,145.221837
3,19828,Crib Point Railway Station,Crib Point,-38.366123,145.204043
4,19829,Morradoo Railway Station,Crib Point,-38.354033,145.189602
...,...,...,...,...,...
213,44817,Coolaroo Railway Station,Coolaroo,-37.661003,144.926056
214,45793,Lynbrook Railway Station,Lynbrook,-38.057341,145.249275
215,45794,Cardinia Road Railway Station,Pakenham,-38.071290,145.437791
216,45795,South Morang Railway Station,South Morang,-37.649159,145.067032
217,46468,Williams Landing Railway Station,Williams Landing,-37.869865,144.747445

In [77]:
# handling cases where the hour in time > 24
for index in stop_times[stop_times.arrival_time.str.match("24:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'arrival_time'].split(":")
    time = ":".join(["00", time[1], time[2]])
    stop_times.loc[index, 'arrival_time'] = time


for index in stop_times[stop_times.departure_time.str.match("24:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'departure_time'].split(":")
    time = ":".join(["00", time[1], time[2]])
    stop_times.loc[index, 'departure_time'] = time
    
for index in stop_times[stop_times.arrival_time.str.match("25:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'arrival_time'].split(":")
    time = ":".join(["01", time[1], time[2]])
    stop_times.loc[index, 'arrival_time'] = time
    
for index in stop_times[stop_times.departure_time.str.match("25:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'departure_time'].split(":")
    time = ":".join(["01", time[1], time[2]])
    stop_times.loc[index, 'departure_time'] = time
    
for index in stop_times[stop_times.arrival_time.str.match("26:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'arrival_time'].split(":")
    time = ":".join(["02", time[1], time[2]])
    stop_times.loc[index, 'arrival_time'] = time
    
for index in stop_times[stop_times.departure_time.str.match("26:\d{1,2}:\d{1,2}")].index:
    time = stop_times.loc[index, 'departure_time'].split(":")
    time = ":".join(["02", time[1], time[2]])
    stop_times.loc[index, 'departure_time'] = time

In [94]:
stop_times['departure_time'] = pd.to_datetime(stop_times['departure_time'], format='%H:%M:%S').dt.time
stop_times['arrival_time'] = pd.to_datetime(stop_times['arrival_time'], format='%H:%M:%S').dt.time

In [109]:
# There exist time values incompatible with datetime
stop_times_7_9 = stop_times[(stop_times['departure_time'] > start) & (stop_times['departure_time'] < end) & 
           (stop_times['arrival_time'] > start) &  (stop_times['arrival_time'] < end)]

In [103]:
start = pd.to_datetime("07:00:00", format="%H:%M:%S").time()
end = pd.to_datetime("09:00:00", format="%H:%M:%S").time()
# stop_times.arrival_time.between_time(start, end)
start, end

(datetime.time(7, 0), datetime.time(9, 0))

In [116]:
stop_times_7_9[stop_times_7_9['stop_id'] == 19853]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
34,17182535.T2.2-ALM-B-mjp-1.1.H,07:03:00,07:03:00,19853,7,NaN,0,0,5920.877559
41,17182541.T2.2-ALM-B-mjp-1.1.H,07:19:00,07:19:00,19853,7,NaN,0,0,5920.877559
48,17182547.T2.2-ALM-B-mjp-1.1.H,07:39:00,07:39:00,19853,7,NaN,0,0,5920.877559
55,17182548.UJ.2-ALM-B-mjp-1.1.H,07:34:00,07:34:00,19853,7,NaN,0,0,5920.877559
62,17182555.T2.2-ALM-B-mjp-1.1.H,07:59:00,07:59:00,19853,7,NaN,0,0,5920.877559
...,...,...,...,...,...,...,...,...,...
254456,17069001.T0.2-LIL-F-mjp-1.46.R,08:20:00,08:20:00,19853,17,NaN,0,0,28894.182161
254552,17069005.T0.2-LIL-F-mjp-1.47.R,08:33:00,08:33:00,19853,17,NaN,0,0,28894.182161
257104,17068596.T2.2-LIL-F-mjp-1.67.R,07:10:00,07:10:00,19853,17,NaN,0,0,28894.182161
257130,17068599.T2.2-LIL-F-mjp-1.67.R,08:01:00,08:01:00,19853,17,NaN,0,0,28894.182161
257156,17068602.T2.2-LIL-F-mjp-1.67.R,08:41:00,08:41:00,19853,17,NaN,0,0,28894.182161

In [27]:
def between_times(time):
    time = [int(i) for i in time.split(':')]
    
    time_ = 3600 * time[0] + 60 * time[1] + time[2]
    if time_ > 3600 * 7 and time_ < 3600 * 9:
        return True
    return False

In [14]:
#

In [15]:
shapes

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,2-ain-mjp-1.1.H,-37.818631,144.951994,1,0.000000
1,2-ain-mjp-1.1.H,-37.817425,144.951050,2,157.543645
2,2-ain-mjp-1.1.H,-37.817241,144.950828,3,185.827916
3,2-ain-mjp-1.1.H,-37.816327,144.950047,4,308.469671
4,2-ain-mjp-1.1.H,-37.816127,144.949950,5,332.239399
...,...,...,...,...,...
339706,2-WMN-F-mjp-1.6.R,-37.864271,144.895021,17,2655.879090
339707,2-WMN-F-mjp-1.6.R,-37.864818,144.896370,18,2789.160747
339708,2-WMN-F-mjp-1.6.R,-37.867094,144.903228,19,3443.379365
339709,2-WMN-F-mjp-1.6.R,-37.867382,144.904208,20,3535.406535
339710,2-WMN-F-mjp-1.6.R,-37.867753,144.905323,21,3641.811422

In [113]:
trips_flinders_street = trips[trips.trip_headsign=='City (Flinders Street)']

In [115]:
trips_flinders_street

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
1,2-ALM-F-mjp-1,T0,17067988.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
2,2-ALM-F-mjp-1,T0,17067992.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
3,2-ALM-F-mjp-1,T0,17067999.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
4,2-ALM-F-mjp-1,T0,17068003.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
...,...,...,...,...,...,...
23762,2-WMN-F-mjp-1,UJ_2,17072250.UJ.2-WMN-F-mjp-1.3.H,2-WMN-F-mjp-1.3.H,City (Flinders Street),0
23763,2-WMN-F-mjp-1,UJ_2,17072254.UJ.2-WMN-F-mjp-1.3.H,2-WMN-F-mjp-1.3.H,City (Flinders Street),0
23764,2-WMN-F-mjp-1,UJ_2,17072258.UJ.2-WMN-F-mjp-1.3.H,2-WMN-F-mjp-1.3.H,City (Flinders Street),0
23765,2-WMN-F-mjp-1,UJ_2,17072262.UJ.2-WMN-F-mjp-1.3.H,2-WMN-F-mjp-1.3.H,City (Flinders Street),0
23766,2-WMN-F-mjp-1,UJ_2,17072266.UJ.2-WMN-F-mjp-1.3.H,2-WMN-F-mjp-1.3.H,City (Flinders Street),0

In [122]:
stop_times_trips = pd.merge(left=stop_times_7_9, right=trips_flinders_street, on='trip_id')

In [124]:
stop_times_trips[stop_times_trips["stop_id"]==19853]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,shape_id,trip_headsign,direction_id
0,17182535.T2.2-ALM-B-mjp-1.1.H,07:03:00,07:03:00,19853,7,NaN,0,0,5920.877559,2-ALM-B-mjp-1,T2,2-ALM-B-mjp-1.1.H,City (Flinders Street),0
7,17182541.T2.2-ALM-B-mjp-1.1.H,07:19:00,07:19:00,19853,7,NaN,0,0,5920.877559,2-ALM-B-mjp-1,T2,2-ALM-B-mjp-1.1.H,City (Flinders Street),0
14,17182547.T2.2-ALM-B-mjp-1.1.H,07:39:00,07:39:00,19853,7,NaN,0,0,5920.877559,2-ALM-B-mjp-1,T2,2-ALM-B-mjp-1.1.H,City (Flinders Street),0
21,17182548.UJ.2-ALM-B-mjp-1.1.H,07:34:00,07:34:00,19853,7,NaN,0,0,5920.877559,2-ALM-B-mjp-1,UJ,2-ALM-B-mjp-1.1.H,City (Flinders Street),0
28,17182555.T2.2-ALM-B-mjp-1.1.H,07:59:00,07:59:00,19853,7,NaN,0,0,5920.877559,2-ALM-B-mjp-1,T2,2-ALM-B-mjp-1.1.H,City (Flinders Street),0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17598,17069001.T0.2-LIL-F-mjp-1.46.R,08:20:00,08:20:00,19853,17,NaN,0,0,28894.182161,2-LIL-F-mjp-1,T0,2-LIL-F-mjp-1.46.R,City (Flinders Street),1
17622,17069005.T0.2-LIL-F-mjp-1.47.R,08:33:00,08:33:00,19853,17,NaN,0,0,28894.182161,2-LIL-F-mjp-1,T0,2-LIL-F-mjp-1.47.R,City (Flinders Street),1
17668,17068596.T2.2-LIL-F-mjp-1.67.R,07:10:00,07:10:00,19853,17,NaN,0,0,28894.182161,2-LIL-F-mjp-1,T2_2,2-LIL-F-mjp-1.67.R,City (Flinders Street),1
17694,17068599.T2.2-LIL-F-mjp-1.67.R,08:01:00,08:01:00,19853,17,NaN,0,0,28894.182161,2-LIL-F-mjp-1,T2_2,2-LIL-F-mjp-1.67.R,City (Flinders Street),1
17720,17068602.T2.2-LIL-F-mjp-1.67.R,08:41:00,08:41:00,19853,17,NaN,0,0,28894.182161,2-LIL-F-mjp-1,T2_2,2-LIL-F-mjp-1.67.R,City (Flinders Street),1